:root{
  /*colors*/
  --p-color-text-Input: #A081D9;
  --p--color-bg-input: #EAE2F8;
  --color-bg-form: #FAFAFA;
  --i-color-bg--icon: #653CAD;
  --color-btn-primary: #8662C7;
  --color--bg-homeandporfile: #EAE7EB;
  --color--text-nameporfile: #D7D5DF;
  --color-border-form: #27241D33;
  --color-bg-btn-tag-1: #F064EA33;
  --color-bg-btn-tag-2: ##64F0833D;
  --color-text-public:#27241DE5;
  --color-text-title:#27241D;
  --color-bg-post:#FFF;
  /*fonts*/
  --font-poppins:'Poppins', sans-serif;
  --font-rubik:'Rubik', sans-serif;
  --font-queerplace:'Clicker Script', cursive;
}
/* reset CSS*/
*, *::before, *::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
img, picture, video, iframe{
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}
a{
  display: block;
}
p a{
  display: inline;
}
li{
  list-style-type: none;
}
html{
  scroll-behavior: smooth;
  font-size: 100%;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, em{
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form, input, textarea, select, button, label{
  font-family: inherit;
  font: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}
svg{
  width: 100%;
  display: block;
  fill: currentColor;
}
body{
  height: 100dvb;
  font-size: 100%;
  line-height: calc(1em + 0.5rem);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-poppins);
}

#container {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section--welcome,
.section--singnin,
.section--signup,
.section--updateProfile{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section--welcome{
  position: relative;
}
.welcome-text {
  text-align: center;
  font-family: var(--font-text);
  padding-top: 1.5rem;
  font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
}
#btnJoin{
  z-index: 1;
}
.box--welcome,
.box--signIn,
.box--signUp,
.box--updateProfile{
  width: 100%;
  padding: 1.5rem;
  max-width: 21.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box--signUp, .box--signIn {
  row-gap: 1.875rem;
}
.signUp--title{
  text-align: center;
  padding: 0rem 0rem .625rem;
  font-size: clamp(2.5rem, 2.054rem + 1.19vw, 3.125rem);
}
.logo--queerPlace {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem .625rem;
  font-size: clamp(3rem, 2.464rem + 1.429vw, 3.75rem);
  font-family: var(--font-queerplace);

}
.section--signup,
.section--singnin,
.section--updateProfile{
  background: var(--color-bg-form);
}
.signUp--options, .signIn--options{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .625rem;
  font-size: clamp(0.875rem, 0.786rem + 0.238vw, 1rem);
  color: var(--color-text-public, rgba(39, 36, 29, 0.90));
  font-weight: 400;
}
.imgRegistration {
  max-width: 156px;
}
.signUp--form,.signIn--form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
}
.updateProfile--question {
  font-size: 0.9em;
  padding: 0px 0px 10px;
  font-weight: 400;
}
.updateProfile--text__request {
  padding: 1em 0px 0.5em;
  font-size: 0.8rem;
}
/**/
.conteinerGeneral {
  background-color: rgba(var(--b3f,250,250,250),1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  height: 100vh;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.updateBoX, .postBox{
  border-radius: 8px ;
  width: 350px;
  max-width: 100%;
  overflow: hidden;
}
.update{
  background-color: white;
  box-shadow: 0 2px 5px rgb(151 148 148 / 50%);
}
.loginInGoogle{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
a#google {
  font-size: clamp(0.875rem, 0.786rem + 0.238vw, 1rem);
  color: var(--color-text-public, rgba(39, 36, 29, 0.90));
  font-weight: 400;
  cursor: pointer;
}
.goToOption{
  color: var(--color-btn-primary, #8662C7);
  font-weight: 600;
  cursor: pointer;
}
.goToOption:hover{
  color: var(--i-color-bg--icon, #653CAD);
  font-weight: 600;
  cursor: pointer;
}
.formLogIn p{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.google{
  max-height: 1.75rem;
  max-width: 1.75rem;
}
.form-control, .formProfileControl {
  width: 100%;
  position: relative;
}
.form__typeregister{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__typeregister > p{
    color: var(--p-color-text-Input);
    font-size: clamp(0.875rem, 0.786rem + 0.238vw, 1rem);
    font-weight: 500;
    padding: .5rem .625rem;
}
.form__radios{
  display: flex;
  column-gap: .625rem;
  padding: .5rem .625rem;
}
.form-control {
  position: relative;
}
.form-control input{
  outline: var(--color-btn-primary);
  background: var(--p--color-bg-input);
  color: var(--p-color-text-Input);
  font-size: clamp(0.875rem, 0.786rem + 0.238vw, 1rem);
  font-weight: 500;
  width: 100%;
  padding: .5rem .625rem;
  border-radius: .625rem;
  background: var(--p--color-bg-input, #EAE2F8);
}
.form-control img{
  position: absolute;
  right: 0;
  top: 0;
  padding: .5rem .625rem;
}
.hiddenError{
  display: none;
}
.showError{
  display: block ;
}
.messageError{
  color: var(--color-text-public);
  font-weight: 300;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}
.form-control > input::placeholder{
  color: var(--p-color-text-Input);
  font-size: clamp(0.875rem, 0.786rem + 0.238vw, 1rem);
  font-weight: 500;
  width: 100%;
  background: var(--p--color-bg-input, #EAE2F8);
}
.button {
  font-size: clamp(0.875rem, 0.786rem + 0.238vw, 1rem);
  padding: .5rem .625rem;
  border-radius: .625rem;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  background: var(--color-btn-primary, #8662C7);
}
#btnSignUp, #btnSignIn {
  width: 100%;
}
.button:hover{
  background-color: var(--i-color-bg--icon);
  cursor: pointer;
}
.welcome__img,.welcome__span{
    position: absolute;
    bottom: 0;
}
.welcome__span{
  background: #B6B6FF;
  min-height: 4.375rem;
  max-height: 17.375rem;
  width: 100%;
}
.welcome__img{
  z-index: 1;
  max-width: 25rem;
}
hgroup {
  position: absolute;
  top: 30%;
  max-width: 22.75rem;
  width: 100%;
  padding: 1rem;
}
/*navegador*/
#navegador {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #FFF;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
#navegador nav {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 16px 16px 8px;
}
.nav--section{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}
.nav--section figcaption{
  display: flex;
  align-items: center;
  color: var(---color-text-title, #27241D);
  font-size: clamp(0.75rem, 0.571rem + 0.476vw, 1rem);
  font-weight: 500;
}
.nav--section img{
  display: flex;
  align-items: center;
}
.nav__select--hash{
  border-bottom: 3px solid #8662C7;
  border-radius: 0.2px;
}
.nav--icon {
max-height: 1.75rem;
max-width: 1.75rem;
}
.section--posts{
  background: #EAE7EB;
  border: solid 0.1px #C8D2D9;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: flex-start;
  position: absolute;
}
.box--posts {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.createPost{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: white;
  margin: .75rem 0px;
  padding: 1.5rem 0px;
  width: 100%;
  min-width: 9.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.create--post{
  border: solid 0.01px #C8D2D9;
  padding: .625rem;
  border-radius: .625rem;
  text-align: left;
  overflow: hidden;
  resize: none;
  width: 90%;
  margin-bottom: .75rem;
}
.btnPost{
  min-width: 90%;
  display: flex;
  justify-content: flex-end;
}
.btnSave{
  box-shadow: 2px 2px 5px #999;
  background-color:#8662C7;
  transition: background-color .5s;
  border-radius: 8px;
  color: white;
  border: solid 0px ;
  padding: .25rem 1rem;
  font-weight: 700;
}
.btnSave:hover{
  background-color:#724BB7;
}
.createUser--user__photo{
  display: flex;
  justify-content: center;
  width: 10%;
  height: 100%;
}
.perfil{
  border-radius: 100%;
  height: 100%;
  width: 100%;
}
.createPost--user {
  width: 90%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .75rem;
  column-gap: 4%;
}
.createPost--user__name{
  font-weight: 300;
  width: 90%;
  display: flex;
}
#postsContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.divRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btnLike,.btnDelete,.btnEdit {
  display: flex;
  justify-content: center;
  margin:  40% 0%;
  color: #653CAD;
  height:100% ;
  width: 100%;
  align-items: center;
}
i.fas.fa-trash-alt.btnDelete.iconPost {
  display: flex;
  align-items: center;
}
i.fas.fa-pencil-alt.btnEdit.iconPost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iconPosts {
  height: 100%;
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postSection {
  width: 80%;
}
.btnUpdate:hover{
 background-color: #724BB7;
}
.divBtbUpdate {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
.divbtnLike {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  .createPost {
    width: 70%;
  }
  /* borrar */
  .updateBoX, .postBox {
    background-color: white;
    box-shadow: 0 2px 5px rgb(151 148 148 / 50%);
  }
}
@media (min-width: 800px) {
  .section--posts{
    background-color: #fff;
  }
  .box--posts {
    width: 50rem;
    background: #EAE7EB;
    margin-left: auto;
    margin-right: auto;
    }
}
@media (width >= 320px) {

}
@media (width >= 375px) {
  .welcome__span {
    min-height: 7.375rem;
}
}
@media (width >= 425px) {
  .logo--queerPlace, .signUp--title {
    padding-top: 2rem;
}

}

@media (width >= 768px) {
.box--signIn,
.box--signUp,
.box--updateProfile{
  max-width: 350px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 2px 5px rgb(151 148 148 / 50%);
}
/* .welcome__img {
  z-index: 1;
  width: 50%;
} */
}
@media (width >= 1024px) {
/*   .welcome__img {
    width: 35%;
} */
}
@media (width >= 1440px) {

}
@media (width >= 2560px) {

}