:root{
  /*colors*/
  --p-color-text-Input: #A081D9;
  --p--color-bg-input: #EAE2F8;
  --color-bg-form: #FAFAFA;
  --i-color-bg--icon: #653CAD;
  --color-btn-primary: #8662C7;
  --color--bg-homeandporfile: #EAE7EB;
  --color--text-nameporfile: #D7D5DF;
  --color-border-form: #27241D33;
  --color-bg-btn-tag-1: #F064EA33;
  --color-bg-btn-tag-2: ##64F0833D;
  --color-text-public:#27241DE5;
  --color-text-title:#27241D;
  --color-bg-post:#FFF;
  --color-text-post:#27241d99;
  /*fonts*/
  --font-poppins:'Poppins', sans-serif;
  --font-rubik:'Rubik', sans-serif;
  --font-queerplace:'Clicker Script', cursive;
}
/* reset CSS*/
*, *::before, *::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
img, picture, video, iframe{
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}
a{
  display: block;
}
p a{
  display: inline;
}
li{
  list-style-type: none;
}
html{
  scroll-behavior: smooth;
  font-size: 100%;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, em{
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form, input, textarea, select, button, label{
  font-family: inherit;
  font: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}
svg{
  width: 100%;
  display: block;
  fill: currentColor;
}
body{
  height: 100dvb;
  width: 100dvw;
  font-size: 100%;
  line-height: calc(1em + 8px);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-poppins);
}

#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.section--welcome,
.section--singnin,
.section--signup,
.section--updateProfile{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section--welcome{
  position: relative;
}
.welcome-text {
  text-align: center;
  font-family: var(--font-text);
  padding-top: 1.5rem;
  font-size: clamp(16px, 13.136px + 0.476vw, 20px);
}
#btnJoin{
  z-index: 1;
}
.box--welcome,
.box--signIn,
.box--signUp,
.box--updateProfile{
  width: 100%;
  padding: 1.5rem;
  max-width: 21.875rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUp__popup {
  width: 100%;
  padding: 1.5rem;
  background: #FFF;
  height: 100%;
  display: flex;
  background: rgba(39, 36, 29, 0.20);
  align-items: center;
  width: 100%;
  justify-content: center;
}
.signUp__popup > div {
  box-shadow: rgba(0, 0, 0, 0.15) 0rem .3125rem .9375rem 0rem;
  color: var(--color-text-title);
  background: #FFF;
  border-radius: .625rem;
  padding: 1.5rem;
  font-size: .875rem;
  display: flex;
  row-gap: .625rem;
  flex-direction: column;
  max-width: 15.625rem;
}
.btnpopup__signUp {
    font-size: clamp(14px, 12.576px + 0.238vw, 16px);
    padding: .5rem .625rem;
    border-radius: .625rem;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    background: var(--color-btn-primary, #8662C7);
}
.closePopupSignIn{
  display: none;
}
.box--signUp, .box--signIn {
  row-gap: 1.875rem;
}
.signUp--title{
  text-align: center;
  padding: 0rem 0rem .625rem;
  font-size: clamp(40px, 32.864px + 1.19vw, 50px);
}
.logo--queerPlace {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem .625rem;
  font-size: clamp(48px, 39.424px + 1.429vw, 60px);
  font-family: var(--font-queerplace);

}
.section--signup,
.section--singnin,
.section--updateProfile{
  background: var(--color-bg-form);
}
.signUp--options, .signIn--options{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .625rem;
  font-size: clamp(14px, 12.576px + 0.238vw, 16px);
  color: var(--color-text-public, rgba(39, 36, 29, 0.90));
  font-weight: 400;
}
.imgRegistration {
  max-width: 9.75rem;
}
.signUp--form,.signIn--form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.25rem;
}
.updateProfile--question {
  font-size: 0.9em;
  padding: 0rem 0rem .625rem;
  font-weight: 400;
}
.updateProfile--text__request {
  padding: 1em 0rem 0.5em;
  font-size: .8rem;
}
/**/
.conteinerGeneral {
  background-color: rgba(var(--b3f,250,250,250),1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.25rem;
  align-items: center;
  height: 100vh;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.updateBoX, .postBox{
  border-radius: .5rem ;
  width: 21.875rem;
  max-width: 100%;
  overflow: hidden;
}
.update{
  background-color: white;
  box-shadow: 0 .125rem .3125rem rgb(151 148 148 / 50%);
}
.loginInGoogle{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
a#google {
  font-size: clamp(14px, 12.576px + 0.238vw, 16px);
  color: var(--color-text-public, rgba(39, 36, 29, 0.90));
  font-weight: 400;
  cursor: pointer;
}
a#google:hover{
  font-weight: 500;
}
.signIn-text--question{
  font-size: clamp(14px, 12.576px + 0.238vw, 16px);
}
.goToOption{
  color: var(--color-btn-primary, #8662C7);
  font-weight: 600;
  cursor: pointer;
}
.goToOption:hover{
  color: var(--i-color-bg--icon, #653CAD);
  font-weight: 600;
  cursor: pointer;
}
.formLogIn p{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.google{
  max-height: 1.75rem;
  max-width: 1.75rem;
}
.form-control, .formProfileControl {
  width: 100%;
  position: relative;
}
.form__typeregister{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__typeregister > p{
    color: var(--p-color-text-Input);
    font-size: clamp(14px, 12.576px + 0.238vw, 16px);
    font-weight: 500;
    padding: .5rem .625rem;
}
.form__radios{
  display: flex;
  column-gap: .625rem;
  padding: .5rem .625rem;
}
.form__optionRegister {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .25rem;
}
.form__optionRegister > label {
  color: var(--p-color-text-Input);
  font-size: clamp(10px, 8.576px + 0.238vw, 12px);
  font-weight: 500;
}
.form-control {
  position: relative;
}
.form-control small {
  font-size: clamp(12px, 10.576px + 0.238vw, 14px);
}
.form-control input{
  outline: var(--color-btn-primary);
  background: var(--p--color-bg-input);
  color: var(--p-color-text-Input);
  font-size: clamp(14px, 12.576px + 0.238vw, 16px);
  font-weight: 500;
  width: 100%;
  padding: .5rem .625rem;
  border-radius: .625rem;
  background: var(--p--color-bg-input, #EAE2F8);
}
.form-control img{
  position: absolute;
  right: 0;
  top: 0;
  padding: .5rem .625rem;
}
.hiddenError{
  display: none;
}
.showError{
  display: block ;
  padding: 0rem .625rem;
}
.messageError{
  color: var(--color-text-public);
  font-weight: 300;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}
.form-control > input::placeholder{
  color: var(--p-color-text-Input);
  font-size: clamp(14px, 12.576px + 0.238vw, 16px);
  font-weight: 500;
  width: 100%;
  background: var(--p--color-bg-input, #EAE2F8);
}
.button {
  font-size: clamp(14px, 12.576px + 0.238vw, 16px);
  padding: .5rem .625rem;
  border-radius: .625rem;
  font-weight: 400;
  color: #FFF;
  text-align: center;
  background: var(--color-btn-primary, #8662C7);
}
#btnSignUp, #btnSignIn {
  width: 100%;
}
.button:hover{
  background-color: var(--i-color-bg--icon);
  cursor: pointer;
}
.welcome__img,.welcome__span{
    position: absolute;
    bottom: 0;
}
.welcome__span{
  background: #B6B6FF;
  min-height: 4.375rem;
  max-height: 17.375rem;
  width: 100%;
}
.welcome__img{
  z-index: 1;
  max-width: 25rem;
}
hgroup {
  position: absolute;
  top: 30%;
  max-width: 22.75rem;
  width: 100%;
  padding: 1rem;
}
/*navegador*/
#navegador {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #FFF;
  box-shadow: 0rem .125rem .125rem 0rem rgba(0, 0, 0, 0.25);
}
#navegador nav {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  padding: 1rem 1rem .5rem;
}
.nav--section{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-bottom: .1875rem solid #fff;
  cursor: pointer;
}
.nav--section figcaption{
  display: flex;
  align-items: center;
  color: var(---color-text-title, #27241D);
  font-size: clamp(12px, 9.136px + 0.476vw, 16px);
  font-weight: 500;
}
.nav--section img{
  display: flex;
  align-items: center;
}
.nav__select--hash{
  border-bottom: .1875rem solid #8662C7;
  border-radius: .0125rem;
}
.nav--icon {
  max-height: 1.75rem;
  max-width: 1.75rem;
}
.section--posts{
  background: #EAE7EB;
  border: solid .0063rem #C8D2D9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  position: absolute;
}
.box--posts {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.createPost{
  box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.2);
  background: white;
  margin: .75rem 0rem;
  padding: 1.5rem 0rem;
  width: 100%;
  min-width: 9.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: .625rem;
}
.createPost__all{
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}
.createPost__form {
  width: 100%;
  border: 0.0625rem solid var(--color-border-form);
  border-radius: 0.625rem;
  padding: 0.5rem 0.5rem;
  color: var(--color-text-post);
  font-size: clamp(0.75rem, 0.616rem + 0.357vw, 0.938rem);
  display: flex;
  row-gap: .75rem;
  flex-direction: column;
}
.createPost__form textarea::placeholder{
  color: var(--color-text-post);
}
.createPost__point {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 0.5rem;
  outline: none;
  caret-color: var(--p-color-text-Input);
}
.createPost__point, .createPost__Info{
  caret-color: var(--p-color-text-Input);
  border-radius: 0.625rem;
  cursor: pointer;
    background: #eae2f880;
  padding: 0.3rem 0.625rem;
  /* transition: .1s; */
}
.createPost__point:focus, .createPost__Info:focus,.createPost__point:focus{
  transform: scale(1.01);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.createPost__Info{
  width: 100%;
  min-height: 4.5rem;
  outline: none;
  caret-color: var(--p-color-text-Input);
}

.createTags__input:focus {
  /* background: #eae2f880; */
  transition: .1s;
}
.createTags__input {
  outline: none;
  width: 100%;
  color: var(--p-color-text-Input);
  background: #eae2f880;
  padding: .25rem 0rem .25rem .5rem;
}
.createTags__input--onFocus{
  border-radius: .625rem 0rem 0rem .625rem;
}
.createTags__input--focus{
  border-radius: .625rem 0rem 0rem 0rem;
}

.createTags__aprove {
  height: 100%;
  padding: .25rem .5rem .25rem .5rem;
  color: var(--p-color-text-Input);
  background: #eae2f880;
  display: flex;
  align-items: center;
  border-left: 1px solid #27241d10;
}
.createTags__aprove--onFocus{
  border-radius: 0rem .625rem .625rem 0rem;
}
.createTags__aprove--focus{
  border-radius: 0rem .625rem 0rem 0rem;
}
.show {
  display: block;
}
.createPost__tags {
  display: flex;
  flex-direction: row;
  column-gap: .5rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 8px;
}

.createTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 17.5rem;
  position: relative;
}
.createpost__alltags{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: .5rem;
}
.createpost__tag{
  background: #64f08333;
  padding: .125rem .5rem .125rem .75rem;
  border-radius: .625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
}
.createpost__figure {

  display: flex;
  align-items: center;
  justify-content: center;
}
.createpost__img {
  width: 80%;
}
.createTags__list{
  position: absolute;
  top: 2rem;
  left: 0;
  background: #f4f0fb;
  border-radius: 0rem 0rem .625rem .625rem;
  max-height: 6.25rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  row-gap: .25rem;
  transition:  .1s;
  transition-timing-function: linear
}
.createTags__list--open{
  padding: 0rem 0rem .5rem 0rem;
}
.allTags__item{
  padding: 0rem .5rem;
  color: var(--p-color-text-Input)
}
.allTags__item:hover{
  background: #a081d920;
  cursor: pointer;
}


.createPost__rating {
  display: flex;
  flex-direction: row;
  column-gap: .5rem;
}
.createPost__rating p{
  font-size: clamp(0.75rem, 0.616rem + 0.357vw, 0.938rem);
}
.createPost__stars {
  display: flex;
  flex-direction: row;
  column-gap: .125rem;
  align-items: center;
}
.createPost__stars img{
  height: max-content;
}
.createPost__containerRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: .5rem;
  row-gap: .25rem;
  flex-wrap: wrap;
  align-items: center;
}
.createPost__file {
  position: relative;
}
.createPost__file > input {
  width: 0.0625rem;
  height: 0.0625rem;
  opacity: 0;
  position: absolute;
  z-index: -1;
  top: 50%;
}
.createPost__file > label {
  cursor: pointer;

}
.btnPost{
  min-width: 90%;
  display: flex;
  justify-content: flex-end;
}
.btnSave{
  background-color:#8662C7;
  transition: background-color .5s;
  border-radius: .5rem;
  color: white;
  border: solid 0rem ;
  padding: .25rem 1rem;
  font-weight: 700;
  font-size: clamp(0.875rem, 0.786rem + 0.238vw, 1rem);
}
.btnSave:hover{
  background-color:#724BB7;
}
.createUser--user__photo{
  display: flex;
  justify-content: center;
  width: 10%;
  height: 100%;
}
.perfil{
  border-radius: 100%;
  height: 100%;
  width: 100%;
}
.createPost--user {
  width: 90%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .75rem;
  column-gap: 4%;
}
.createPost--user__name{
  font-weight: 300;
  width: 90%;
  display: flex;
  font-size: clamp(0.875rem, 0.786rem + 0.238vw, 1rem);
  font-weight: 500;
}
#postsContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.divRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.btnLike,.btnDelete,.btnEdit {
  display: flex;
  justify-content: center;
  margin:  40% 0%;
  color: #653CAD;
  height:100% ;
  width: 100%;
  align-items: center;
}
i.fas.fa-trash-alt.btnDelete.iconPost {
  display: flex;
  align-items: center;
}
i.fas.fa-pencil-alt.btnEdit.iconPost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iconPosts {
  height: 100%;
  width: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postSection {
  width: 80%;
}
.btnUpdate:hover{
 background-color: #724BB7;
}
.divBtbUpdate {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
.divbtnLike {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (width >= 20rem) {
  .createPost__stars img {
    min-width: 18px;
  }
  .createPost__rating {
    align-items: flex-start;
  }
  .createPost__stars {
    column-gap: .25rem;
  }
}
@media (width >= 23.4375rem) {
  .welcome__span {
    min-height: 7.375rem;
}
}
@media (width >= 26.5625rem) {
  .logo--queerPlace, .signUp--title {
    padding-top: 2rem;
}

}

@media (width >= 48rem) {
.box--signIn,
.box--signUp,
.box--updateProfile{
  max-width: 21.875rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 .125rem .3125rem rgb(151 148 148 / 50%);
}
.createPost {
  width: 70%;
}

.createPost__stars {
  column-gap: 1rem;
}
.section--posts{
  background-color: #fff;
}
.box--posts {
  width: 50rem;
  background: #EAE7EB;
  margin-left: auto;
  margin-right: auto;
  }

}
@media (width >= 64rem) {
/*   .welcome__img {
    width: 35%;
} */
}
@media (width >= 90rem) {

}
@media (width >= 160rem) {

}